/* Styles for custom UIO themes, fonts, etc - shared between main document and iframe */

/* Override some Readium defaults */
:root {
    --RS__linkColor: #0F5A74;
    --RS__visitedColor: #0F5A74;
    --RS__paraIndent: 0;
}

a:visited {
    color: #0F5A74;
}

a {
    color: #0F5A74;
}

/* Open Dyslexic font faces */
@font-face {
    font-family: "Open Dyslexic";
    src: url('../lib/openDyslexic/otf/OpenDyslexic-Regular.otf');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Open Dyslexic";
    src: url('../lib/openDyslexic/otf/OpenDyslexic-Italic.otf');
    font-style: italic;
    font-weight: normal;
}

@font-face {
    font-family: "Open Dyslexic";
    src: url('../lib/openDyslexic/otf/OpenDyslexic-Bold.otf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Open Dyslexic";
    src: url('../lib/openDyslexic/otf/OpenDyslexic-BoldItalic.otf');
    font-weight: bold;
    font-style: italic;
}

.cisl-font-open-dyslexic:not([class*='icon']),
.cisl-font-open-dyslexic *:not([class*='icon']) {
    font-family: "Open Dyslexic", sans-serif !important;
}
