.container {
    padding: 1rem;
}

@media (min-width: 36em) {
    .container {
        max-width: 100%;
    }
}
@media (min-width: 48em) {
    .container {
        max-width: 90%;
    }
}
@media (min-width: 62em) {
    .container {
        max-width: 70%;
    }
}
@media (min-width: 75em) {
    .container {
        max-width: 60%;
    }
}

article {
    font-size: 120%;
}

a.gloss {
    color: #0F5A74;
    text-decoration: none;
    border-bottom: 1px dashed;
}

span.glossOther {
    background: yellow;
}

.cisl-figure {
    display: block;
    margin: 1rem auto;
    max-width: 85%;
}

@media (min-width: 48em) {
    .cisl-figure {
        max-width: 75%;
        margin: 1.5rem auto;
    }
}
@media (min-width: 62em) {
    .cisl-figure {
/*        clear: right;
        float: right;
        margin: 0 -5rem 2rem 2rem;
*/
        width: 65%;
        max-width: 30rem;
    }
}
@media (min-width: 75em) {
    .cisl-figure {
        width: 55%;
/*        margin: 0 -8rem 3rem 3rem; */
    }
}

.cisl-supplement {
    padding: 1em;
    margin: 1rem auto;
    font-size: 86%;
    max-width: 90%;
    background: #F0F0F0;
    border-top: 4px solid #C2C2C2;
}

@media (min-width: 48em) {
    .cisl-supplement {
        max-width: 80%;
        margin: 1.5rem auto;
    }
}
@media (min-width: 62em) {
    .cisl-supplement {
/*        clear: left;
        float: left;
        margin: 0 2rem 2rem -5rem;
*/
        width: 50%;
        max-width: 20rem;
        font-size: 92%;
    }
}
@media (min-width: 75em) {
    .cisl-supplement {
        font-size: 85%;
/*        margin: 2rem 3rem 2rem -8rem;  */
    }
}

.cisl-supplemental-image {
    float: right;
    max-width: 50%;
    margin: 0 0 1rem 1rem;
}

/* Open Dyslexic font faces */
@font-face {
  font-family: "Open Dyslexic";
	src: url('../lib/openDyslexic/otf/OpenDyslexic-Regular.otf');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "Open Dyslexic";
	src: url('../lib/openDyslexic/otf/OpenDyslexic-Italic.otf');
	font-style: italic;
	font-weight: normal;
}

@font-face {
	font-family: "Open Dyslexic";
	src: url('../lib/openDyslexic/otf/OpenDyslexic-Bold.otf');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "Open Dyslexic";
	src: url('../lib/openDyslexic/otf/OpenDyslexic-BoldItalic.otf');
	font-weight: bold;
	font-style: italic;
}

/* Preference framework styles */

.fl-prefsEditor-separatedPanel {
    /* Match Figuration .bg-uibase-500 */
    background-color: #5e7182;
}

/* Figuration's CSS reset sets legend to 1.5rem in font-size, so we have
to reset this */
.fl-prefsEditor legend {
  font-size: 1rem;
}

.fl-prefsEditor .fl-choice input:checked ~ label {
    /* Match Figuration .bg-uibase-800 */
  background-color: #343e48;
  color: #fff;
}

/* These next three instructions change some styling and layout behaviour of
the panels to match the demo's desired appearance*/
.fl-prefsEditor-separatedPanel .fl-prefsEditor-panels .fl-prefsEditor-panel {
  padding: 0 0 1.5rem 0;
  box-shadow: none;
  border-radius: 0;
}

.fl-prefsEditor-separatedPanel .fl-prefsEditor-panels .fl-prefsEditor-panel h2 {
  padding-bottom: 1rem;
  padding-top: 1rem;
  /* Match Figuration .bg-gray-50 */
  background-color: #f0f0f0;
  text-indent: 1.5rem;
  /* Match Figuration .bg-gray-500 */
  border-bottom: solid #666 1px;
  box-shadow: none;
}

.fl-prefsEditor-separatedPanel .fl-prefsEditor-panels .fl-prefsEditor-panel .fl-prefsEditor-panel-descr {
    text-indent: 1.5rem;
}

.cisl-font-open-dyslexic:not([class*='icon']),
.cisl-font-open-dyslexic *:not([class*='icon']) {
  font-family: "Open Dyslexic", sans-serif !important;
}

.cisl-prefs-beeLine-acknowledgement {
    padding-right: 1.5rem;
    padding-top: 0.5rem;
}

.fl-prefsEditor .fl-prefsEditor-text-size .fl-choices .fl-choice .fl-preview-A:before {
  content: "Aa";
}

.fl-prefsEditor .fl-prefsEditor-text-size .fl-choices .fl-choice .cisl-textSize-small .fl-preview-A:before {
    font-size: 60%;
}

.fl-prefsEditor .fl-prefsEditor-text-size .fl-choices .fl-choice .cisl-textSize-medium .fl-preview-A:before {
    font-size: 80%;
}

.fl-prefsEditor .fl-prefsEditor-text-size .fl-choices .fl-choice .cisl-textSize-large .fl-preview-A:before {
    font-size: 100%;
}

.fl-prefsEditor .fl-prefsEditor-text-size .fl-choices .fl-choice .cisl-textSize-x-large .fl-preview-A:before {
    font-size: 120%;
}

.popover {
    max-width: 30rem;
    font-size: 1rem;
}
