/* CSS included in the top level pages */

body {
    font-family: 'Source Sans Pro', sans-serif;
    background: #edf2ed;
}

.header {
    background-color: #ea6550;
}

.link-cta {
    display: inline-block;
    font-size: .875em;
    font-weight: 400;
    color: inherit;
    text-decoration: none;
}
.link-cta:hover,
.link-cta:focus {
    color: inherit;
    text-decoration: underline;
}
.link-cta .fas {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    padding-top: .25em;
    font-size: 1em;
    color: #000;
    text-align: center;
    text-decoration: none;
    vertical-align: baseline;
    background-color: #ea6550;
    border-radius: 50%;
}
.link-cta .fas:hover,
.link-cta .fas:focus {
    text-decoration: none;
}
.link-cta .fas:last-child {
    margin-left: .25em;
}
.link-cta .fas:first-child {
    margin-right: .25em;
}

.link-stretch::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    /* Just in case `pointer-events: none` is set on a parent */
    pointer-events: auto;
    content: "";
    /* IE10 bugfix, see https://stackoverflow.com/questions/16947967/ie10-hover-pseudo-class-doesnt-work-without-background-color */
    background-color: rgba(0, 0, 0, 0);
}


@media (min-width: 48em) {
    .topnav {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
}

.topnav .return-link,
.topnav .cisl-pagination {
    margin: .5rem 2rem;
}

.return-link {
    font-size: 100%;
    font-weight: 600;
}

.cisl-pagination .page-link,
.cisl-pagination .page-text {
    padding: .5em .75em;
    font-size: .875em;
    font-weight: 600;
    color: #222;
    background-color: #fff;
    border-color: #edf2ed;
    border-radius: 10em;
}
.cisl-pagination .page-link:hover,
.cisl-pagination .page-link:focus {
    color: #000;
    background-color: #ea6550;
    border-color: #edf2ed;
}
.cisl-pagination .page-link.active {
    position: relative;
    color: #222;
    background-color: #fff;
    border-color: #edf2ed;
}
.cisl-pagination .page-link.active::after {
    position: absolute;
    right: .75em;
    bottom: .375em;
    left: .75em;
    height: .25em;
    min-height: 3px;
    display: block;
    content: '';
    background-color: #6afaff;
}

.cislc-readium-iframe-container {
    max-width: 1000px;
    height: 100%;
    margin: 0 auto;
    margin-top: 1em;
}

.cislc-readium-iframe-container iframe {
    border-width: 0;
}

/* Index page styles */

/*
figure {
    background: #edf2ed;
    padding: 1rem;
}

figure a {
    text-decoration: none;
}

figure a:hover, figure a:active {
    text-decoration: underline;
}
*/

.figure-img {
    margin-bottom: 0;
}

@media (min-width: 36em) {
    .card-deck-index {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        margin-bottom: 2rem;
    }

    .card-deck-index > .card {
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
        width: calc(50% - 2rem);
        margin-right: 1rem;
        margin-left: 1rem;
    }
}
@media (min-width: 48em) {
    .card-deck-index > .card {
        width: calc(33.333333% - 2rem);
    }
}
@media (min-width: 62em) {
    .card-deck-index > .card {
        width: calc(25% - 2rem);
    }
}

.card-index {
    border: 0;
    border-radius: 1.5rem;
    box-shadow: .5rem .5rem 1rem .25rem rgba(0, 0, 0, .05);
}
.card-index .card-img-top {
    border-radius: 1.5rem 1.5rem 0 0;
}
.card-index .card-img-bottom {
    border-radius: 0 0 1.5rem 1.5rem;
}
.card-index a {
    color: inherit;
    text-decoration: none;
}
.card-index .card-title {
    margin-bottom: .5rem;
    font-family: inherit;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.25;
}
.card-index .link-stretch:hover,
.card-index .link-stretch:focus {
    outline: 0;
}
.card-index .link-stretch:hover::after,
.card-index .link-stretch:focus::after {
    border-radius: 1.5rem;
    box-shadow: 0 0 .1rem .1rem rgba(0, 0, 128, .5);
}


.eyebrow {
    margin-bottom: .125em;
    font-size: .875em;
    font-weight: 600;
    color: #888;
    text-transform: uppercase;
}

/* Preference framework styles */

.fl-prefsEditor-separatedPanel {
    /* Match Figuration .bg-uibase-500 */
    background-color: #5e7182;
}

/* Figuration's CSS reset sets legend to 1.5rem in font-size, so we have
to reset this */
.fl-prefsEditor legend {
    font-size: 1rem;
}

.fl-prefsEditor .fl-choice input:checked ~ label {
    /* Match Figuration .bg-uibase-800 */
    background-color: #343e48;
    color: #fff;
}

/* These next three instructions change some styling and layout behaviour of
the panels to match the demo's desired appearance*/
.fl-prefsEditor-separatedPanel .fl-prefsEditor-panels .fl-prefsEditor-panel {
    padding: 0 0 1.5rem 0;
    box-shadow: none;
    border-radius: 0;
}

.fl-prefsEditor-separatedPanel .fl-prefsEditor-panels .fl-prefsEditor-panel h2 {
    padding-bottom: 1rem;
    padding-top: 1rem;
    /* Match Figuration .bg-gray-50 */
    background-color: #f0f0f0;
    text-indent: 1.5rem;
    /* Match Figuration .bg-gray-500 */
    border-bottom: solid #666 1px;
    box-shadow: none;
}

.fl-prefsEditor-separatedPanel .fl-prefsEditor-panels .fl-prefsEditor-panel .fl-prefsEditor-panel-descr {
    text-indent: 1.5rem;
}

.cisl-prefs-beeLine-acknowledgement {
    padding-right: 1.5rem;
    padding-top: 0.5rem;
}

.fl-prefsEditor .fl-prefsEditor-text-size .fl-choices .fl-choice .fl-preview-A:before {
    content: "Aa";
}

.fl-prefsEditor .fl-prefsEditor-text-size .fl-choices .fl-choice .cisl-textSize-small .fl-preview-A:before {
    font-size: 60%;
}

.fl-prefsEditor .fl-prefsEditor-text-size .fl-choices .fl-choice .cisl-textSize-medium .fl-preview-A:before {
    font-size: 80%;
}

.fl-prefsEditor .fl-prefsEditor-text-size .fl-choices .fl-choice .cisl-textSize-large .fl-preview-A:before {
    font-size: 100%;
}

.fl-prefsEditor .fl-prefsEditor-text-size .fl-choices .fl-choice .cisl-textSize-x-large .fl-preview-A:before {
    font-size: 120%;
}

@media screen and (min-width: 40em) {
    .fl-prefsEditor-separatedPanel .fl-panelBar .fl-prefsEditor-buttons {
        padding: .25rem;
        border-radius: 0 0 1.5rem 1.5rem !important;
        box-shadow: none !important;
    }
    .fl-prefsEditor-separatedPanel .fl-prefsEditor-showHide, .fl-prefsEditor-separatedPanel .fl-prefsEditor-reset {
        font-size: 1rem;
    }
}
.fl-prefsEditor-separatedPanel .fl-icon-undo {
    font-size: 1rem;
}

/* Don't really belong here, but don't take effect if in content.css since popovers are added to main doc. */

.popover figure {
    padding: 0;
}

.gloss-usage {
    font-style: italic;
}
