/* CSS included in the top level pages */

body {
    font-family: 'Source Sans Pro', sans-serif;
    background: #edf2ed;
}

.header {
    background-color: #ea6550;
}

.return-link {
    font-size: 120%;
    font-family: sans-serif;
    text-decoration: none;
    color: #000000;
}

.return-link span {
    background: #ea6550;
    border-radius: 50%;
    padding: .2em .4em;
}

.cislc-readium-iframe-container {
    max-width: 1000px;
    height: 100%;
    margin: 0 auto;
    margin-top: 1em;
}

.cislc-readium-iframe-container iframe {
    border-width: 0;
}

/* Index page styles */

figure {
    background: #edf2ed;
    padding: 1rem;
}

figure a {
    text-decoration: none;
}

figure a:hover, figure a:active {
    text-decoration: underline;
}

/* Preference framework styles */

.fl-prefsEditor-separatedPanel {
    /* Match Figuration .bg-uibase-500 */
    background-color: #5e7182;
}

/* Figuration's CSS reset sets legend to 1.5rem in font-size, so we have
to reset this */
.fl-prefsEditor legend {
    font-size: 1rem;
}

.fl-prefsEditor .fl-choice input:checked ~ label {
    /* Match Figuration .bg-uibase-800 */
    background-color: #343e48;
    color: #fff;
}

/* These next three instructions change some styling and layout behaviour of
the panels to match the demo's desired appearance*/
.fl-prefsEditor-separatedPanel .fl-prefsEditor-panels .fl-prefsEditor-panel {
    padding: 0 0 1.5rem 0;
    box-shadow: none;
    border-radius: 0;
}

.fl-prefsEditor-separatedPanel .fl-prefsEditor-panels .fl-prefsEditor-panel h2 {
    padding-bottom: 1rem;
    padding-top: 1rem;
    /* Match Figuration .bg-gray-50 */
    background-color: #f0f0f0;
    text-indent: 1.5rem;
    /* Match Figuration .bg-gray-500 */
    border-bottom: solid #666 1px;
    box-shadow: none;
}

.fl-prefsEditor-separatedPanel .fl-prefsEditor-panels .fl-prefsEditor-panel .fl-prefsEditor-panel-descr {
    text-indent: 1.5rem;
}

.cisl-font-open-dyslexic:not([class*='icon']),
.cisl-font-open-dyslexic *:not([class*='icon']) {
    font-family: "Open Dyslexic", sans-serif !important;
}

.cisl-prefs-beeLine-acknowledgement {
    padding-right: 1.5rem;
    padding-top: 0.5rem;
}

.fl-prefsEditor .fl-prefsEditor-text-size .fl-choices .fl-choice .fl-preview-A:before {
    content: "Aa";
}

.fl-prefsEditor .fl-prefsEditor-text-size .fl-choices .fl-choice .cisl-textSize-small .fl-preview-A:before {
    font-size: 60%;
}

.fl-prefsEditor .fl-prefsEditor-text-size .fl-choices .fl-choice .cisl-textSize-medium .fl-preview-A:before {
    font-size: 80%;
}

.fl-prefsEditor .fl-prefsEditor-text-size .fl-choices .fl-choice .cisl-textSize-large .fl-preview-A:before {
    font-size: 100%;
}

.fl-prefsEditor .fl-prefsEditor-text-size .fl-choices .fl-choice .cisl-textSize-x-large .fl-preview-A:before {
    font-size: 120%;
}

/* Don't really belong here, but don't take effect if in content.css since popovers are added to main doc. */

.popover figure {
    padding: 0;
}

.gloss-usage {
    font-style: italic;
}