/* CSS included in the content IFrame */

body {
    background: #edf2ed;
    color: #000000;
    padding: 0 2rem 2rem 2rem;
    overflow: hidden;
    font-family: 'Source Sans Pro', sans-serif;
}

.container {
    padding: 1rem;
}

@media (min-width: 36em) {
    .container {
        max-width: 100%;
    }
}
@media (min-width: 48em) {
    .container {
        max-width: 90%;
    }
}
@media (min-width: 62em) {
    .container {
        max-width: 70%;
    }
}
@media (min-width: 75em) {
    .container {
        max-width: 60%;
    }
}

article {
    font-size: 120%;
}

a.gloss {
    color: #0F5A74;
    text-decoration: none;
    border-bottom: 1px dashed;
}

span.glossOther {
    background: yellow;
}

.gloss-usage {
    font-style: italic;
}

figure, figure.figure {
    display: table;
    margin: 1rem auto;
    background: #e1eae2;
    max-width: 85%;
}

.figure-img {
    margin-bottom: 0;
}

.figure-caption {
    display: table-caption;
    caption-side: bottom;
}

.popover figure {
    padding: 0;
}

/*
@media (min-width: 48em) {
    figure {
        max-width: 75%;
        margin: 1.5rem auto;
    }
}
@media (min-width: 62em) {
    figure {
        clear: right;
        float: right;
        margin: 0 -5rem 2rem 2rem;
        width: 65%;
        max-width: 30rem;
    }
}
@media (min-width: 75em) {
    figure {
        width: 55%;
        margin: 0 -8rem 3rem 3rem;
    }
}
*/

figcaption {
    padding: 0.5rem;
}

.cisl-supplement {
    margin: 1rem auto;
    max-width: 70%;
    background: #FFFFFF;
}

aside h2 {
    background: #cad7cc;
    padding: 0.5rem;
}

aside p {
    padding: 0.5rem;
}

aside img {
    max-width: 50%;
}

@media (min-width: 48em) {
    aside {
        max-width: 80%;
        margin: 1.5rem auto;
    }
}
@media (min-width: 62em) {
    aside {
        /*        clear: left;
                float: left;
                margin: 0 2rem 2rem -5rem;
        */
        width: 50%;
        max-width: 20rem;
        font-size: 92%;
    }
}
@media (min-width: 75em) {
    aside {
        font-size: 85%;
        /*        margin: 2rem 3rem 2rem -8rem;  */
    }
}

aside img {
    float: right;
    max-width: 50%;
    margin: 1rem;
}

.popover {
    max-width: 30rem;
    font-size: 1rem;
}

.popover-header {
    background: #cad7cc;
}
