<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org">
<body>
<wicket:panel>
    <a wicket:id="link" href="index-readium.html?pub=serp-paper-or-plastic" class="link-stretch">
        <div class="card-img">
            <img wicket:id="img" class="card-img-top img-fluid" src="..." alt="...">
        </div>
        <div class="card-body">
            <div wicket:id="type" class="eyebrow">Article</div>
            <span wicket:id="title" class="card-title">...</span>
        </div>
    </a>
</wicket:panel>
</body>
</html>